Teacher

<div style="text-align:center; display: block;">  
  <button onclick="playPause()">Play/Pause</button>
</div>

<div style="text-align:center; display: block;"> 
  <br />
  <div id="show_room">
		<video id="asset" width="640" height="480" >
		  <source type="video/ogg" src="<%= asset_path 'trailer_400p.ogg' %>">      
		</video>
  </div>  
</div>

<script>
	$(document).ready(function(){
	  myVideo=document.getElementById("asset"); 
	});

	function playPause(){
		var video = 1
		if(myVideo.paused){
      video = 0;
    }
		$.ajax({
			type: "POST",
      url: '/classrooms/playpause',
      data: {'video':video}
    });
  }
</script>

<%= subscribe_to "/classroom/video" %>